
a{
    text-decoration: none;
    color: black;
}

img{
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.main_page{
	height: 200vh
}

.body_wrapper,.header_container{
    min-width: 1000px;
}

.body_wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_container{
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 10px 0 rgb(0 0 0/30%);
    z-index: 9;
    background-color: white;
    /* opacity: 1; */
    /* background-color: aqua; */
}

.header_container a{
	color:black;
}

.header_container a:hover{
	text-decoration: none;
	color:black;
}

.header_box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 15px;
}

.header_menu_btn{
    padding: 0 20px;
    font-size: 25px;
    cursor: pointer;
}

.header_home_link{
    padding: 0 10px;
}

.header_box>a>span{
    font-size: 40px;
    font-weight: 600;
}



.main_page_container{
	width: 60%;
}
.main_container{
	width: 100%;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

.main_title_box{
    width: 100%;
    height: 1000px;
    margin-bottom: 150px;
}

.main_title_img_box{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_title_img{
    height: 450px;
    width: 450px;
    border: 1px solid black;
    border-radius: 50%;
    overflow: hidden;
}

.main_title_content_box{
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_title_content_box>h2{
    font-size: 30px;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 70px;
}

.main_title_content_box>p{
    font-size: 27px;
    line-height: 40px;
}

.main_content_box{
    margin-bottom: 150px;
}

.content_box{
    height: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_content_img_box{
    height: 320px;
    width: 49%;
}

.main_content_text_box{
    width: 49%;
    height: 320px;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
}

.main_content_text_box>h2{
    font-size: 20px;
    font-weight: 500;
}

.main_content_text_box>p{
    font-size: 25px;
    font-weight: 500;
    line-height: 35px;
}

.main_content_text_box>div{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.main_content_text_box>div>a{
    border: 1px solid black;
    border-radius: 20px;
    padding: 7px 30px;
}




.menu_container{
    transition: all 0.6s ease-in-out;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 150vh;
    width: 300px;
    z-index: 9;
    background-color: #383636;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.menu_container a{
    color: white;
}

.menu_header{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_title{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.menu_title>i{
    font-size: 35px;
    margin-left: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.menu_title>span{
    font-size: 40px;
    font-weight: 600;
    margin-left: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu_list_container{
    margin-top: 90px;
}

.menu_list_box{
    /* height: 60px; */
    margin-bottom: 10px;
}

.menu_list_box>div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 30px;
    margin: 20px;
}



.menu_coummunity_inner_el{
    transition: all 0.7s ease-in-out;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 25px;
}

.menu_coummunity_inner_el>a:not(:last-child){
    margin-bottom: 10px;
}


.transfrom{
    transform: translateX(-300px);
}

.display_none{
    display: none;
}

.footer_container{
    width: 100%;
    padding: 100px 0;
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
}