@charset "UTF-8";

@keyframes flashBox2 {
    0%{
        right: 0px;
        top: 160px;
        /* opacity: 0.5; */
    }
    20%{
        right: 20px;
        top: 160px;
        opacity: 1;
    }
    30%{
        right: 20px;
        top: 160px;
        opacity: 1;
    }
    100%{
        right: -4000px;
        top: 160px;
        opacity: 0;
    }
}
.flash_box{
    
    width: 400px;
    height: 100px;
    position: fixed;
    background-color: greenyellow;
    z-index: 9;
    animation: flashBox2 5s ease forwards;
    border-radius: 12px;
}
.flash_message_box{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.flash_message_title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.flash_message_content{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}