@charset "UTF-8";

.login_main_box{
    width: 100%;
    min-height:650px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_main_box a{
    text-decoration: none;
	color: black;
}
.login_main_wrapper{
    width: 50%;
    padding: 40px 20px;
    max-width: 600px;
    border: 5px solid #35858B;
    background-color: #EEF2FF;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login_main_wrapper>span{
    width: 100%;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: 'Vitro_core';
} 
.login_main_form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login_main_input_group{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 8fr;
    margin-bottom: 10px;
}
.login_main_input_group label{
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Vitro_core';
    margin-right: 5px;
}

.login_main_input_group input{
    height: 50px;
    border-radius: 10px;
    border: 2px solid #35858B;
}
.login_main_form input:not(:last-child){
    height: 50px;
    border-radius: 10px;
}

.login_submitBtn_container{
    height: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: 4fr 6fr 10fr;
    margin-top: 20px;
}
.login_submitBtn_local{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.login_input_submit{
    width: 95%;
    height: 100%;
    background-color: #676FA3;
    border-style: none;
    border-radius: 12px;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Vitro_core';
}
.login_submitBtn_social{
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 10px;
}
.login_kakao{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_naver{
    display: flex;
    justify-content: center;
    align-items: center;
}


.login_kakao_img_box{
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background-color: #FEE500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_kakao_img_box>i{
    margin-right: 10px;
    font-size: 20px;
}

.login_kakao_img_box>span{
    font-size: 20px;
}

.login_naver{
}

.login_naver_img_box{
    border-radius: 12px;
    width: 100%;
    height: 100%;
    background-color: #19CE60;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_naver_img_box>span:first-child{
    margin-right: 10px;
    font-size: 27px;
    color: white;
    font-weight: 900;
}

.login_naver_img_box>span:nth-child(2){
    font-size: 20px;
} 

