<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pj.mapper.food.FoodReplyMapper">
	
	<delete id="foodDeleteByBoardId">
	DELETE FROM FoodReply WHERE boardId = #{boardId}
	</delete>
	
	<delete id="foodReplyDelete">
	DELETE FROM FoodReply WHERE id = #{id}
	</delete>
	
	<update id="foodReplyUpdate">
	UPDATE FoodReply
  	SET
  		replyText = #{replyText},
  		updated = NOW()
  	WHERE
  		id = #{id}
	</update>
	
	<select id="foodSelectById" resultType="com.pj.domain.food.FoodReplyVO">
	SELECT id, boardId, userId, replyText, inserted, updated
  	FROM FoodReply
  	WHERE id = #{id}
	</select>
	
	<insert id="foodReplyInsert" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
	INSERT INTO FoodReply (boardId, userId, replyText)
	VALUES (#{boardId}, #{userId}, #{replyText})
	</insert>
	
	<select id="foodReplyList" resultType="com.pj.domain.food.FoodReplyVO">
	SELECT
		fr.id,
		fr.boardId,
		fr.replyText,
		fr.inserted,
		fr.updated,
        fr.userId,
		u.name
	FROM
		FoodReply fr JOIN User u
	ON
		fr.userId = u.id
	WHERE
		fr.boardId = #{boardId}
	ORDER BY
		id DESC;
	</select>
	

</mapper>