<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pj.mapper.ResellReplyMapper">


<select id="list" resultType="com.pj.domain.ResellReplyVO">
	SELECT
		rr.id,
		rr.boardId,
		rr.memberId,
		rr.reply,
		rr.inserted,
		rr.updated,
		rm.nickName
	FROM 
		ResellReply rr JOIN ResellMember rm ON rr.memberId = rm.id
	WHERE
		rr.boardId = #{boardId}
	ORDER BY 
		rr.id DESC
	</select>

</mapper>