<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pj.mapper.community.CommunityFreeMemberMapper">

<insert id="insert">
	INSERT INTO CommunityFreeMember (id, password, email, address, nickName)
	VALUES (#{id}, #{password}, #{email}, #{address}, #{nickName})
	</insert>
	
	<select id="selectByNickName" resultType="com.pj.domain.community.CommunityFreeMemberVO">
	SELECT id, password, email, address, inserted, nickName
	FROM Member
	WHERE nickName = #{nickName}
	</select>
	
	<select id="select" resultType="com.pj.domain.community.CommunityFreeMemberVO">
	SELECT id, password, email, address, inserted, nickName
	FROM CommunityFreeMember
	WHERE id = #{id}
	</select>
	
	<update id="update">
	UPDATE CommunityFreeMember
	SET password = #{password},
		email = #{email},
		address = #{address},
		nickName = #{nickName}
	WHERE
		id = #{id}
	</update>
	
	<delete id="delete">
	DELETE FROM CommunityFreeMember
	WHERE id = #{id}
	</delete>

	<select id="list" resultType="com.pj.domain.community.CommunityFreeMemberVO">
SELECT 
    cfm.id,
    cfm.password,
    cfm.email,
    cfm.address,
    cfm.inserted,
    cfm.nickName,
    COUNT(cfb.id) AS numberOfBoard
FROM
    CommunityFreeMember cfm
        LEFT JOIN
    CommunityFreeBoard cfb ON cfm.id = cfb.writer
GROUP BY cfm.id
ORDER BY cfm.inserted DESC
	</select>
	
	<select id="listPage" resultType="com.pj.domain.community.CommunityFreeMemberVO">
SELECT 
    cfm.id,
    cfm.password,
    cfm.email,
    cfm.address,
    cfm.inserted,
    cfm.nickName,
    COUNT(cfb.id) AS numberOfCommunityFreeBoard
FROM
    CommunityFreeMember cfm
        LEFT JOIN
    CommunityFreeBoard cfb ON cfm.id = cfb.writer
GROUP BY cfm.id
ORDER BY cfm.inserted DESC
LIMIT #{from}, #{items}
	</select>
	
	<select id="getCountRows" resultType="int">
	SELECT COUNT(*) FROM CommunityFreeMember
	</select>


</mapper>