<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pj.mapper.resell.ResellBoardMapper">

	<update id="boardPlusCnt">
	UPDATE ResellBoard SET boardCount = (boardCount + 1) WHERE id = #{id}
	</update>
	
	
	
	<delete id = "deleteByUserId">
		DELETE FROM ResellBoard WHERE nickName = #{userId}
	</delete>

	<select  id="getCount" resultType="int"> 
	SELECT COUNT(id) FROM ResellBoard
 	<if test="searchType != null">
		<if test="searchType == 'all'.toString()">
			WHERE ( title  LIKE CONCAT('%', #{keyword}, '%') OR
			nickName LIKE CONCAT('%', #{keyword}, '%'))
		</if>
		<if test="searchType == 't'.toString()">
			WHERE title LIKE CONCAT('%', #{keyword}, '%')
		</if>
		<if test="searchType == 'w'.toString()">
			WHERE nickName LIKE CONCAT('%', #{keyword}, '%')
		</if>
	</if> 
	
	</select>
	
	

	<select id="getCountRows" resultType="int">
	SELECT COUNT(id) FROM ResellBoard 
	 	<!-- 검색 조건이 null이 아니라면 검색조건에 따른 데이터 조회-->
 	<if test="searchType != null">
		<if test="searchType == 'all'.toString()">
			WHERE ( title  = CONCAT('%', #{keyword}, '%') OR
			nickName LIKE CONCAT('%', #{keyword}, '%'))
		</if>
		<if test="searchType == 't'.toString()">
			WHERE title LIKE CONCAT('%', #{keyword}, '%')
		</if>
		<if test="searchType == 'w'.toString()">
			WHERE nickName LIKE CONCAT('%', #{keyword}, '%')
		</if>
	</if> 
	
<!-- 	
		<if test="searchType != null">	
		<choose>
			<when test="title != null and nickName != null">
			WHERE ( title  LIKE CONCAT('%', #{keyword}, '%') OR
			rb.nickName LIKE CONCAT('%', #{keyword}, '%'))
			</when>							#은 set하는거고	
			<when test="title != null">
			WHERE title LIKE CONCAT('%', #{keyword}, '%') $는 미리만들어놓고 실행한다 이엘아님..마이바티스문임!
			</when>
			<when test="nickName !=null">
				WHERE nickName LIKE CONCAT('%', #{keyword}, '%')
			</when>
		</choose>
			</if> 
			 -->
	
	</select>

	
	<select id="getListPage" resultType="com.pj.domain.resell.ResellBoardVO">
SELECT 
	    rb.id,
	    rb.title,
	    rb.content,
	    rb.nickName,
	    rb.memberId,
	    rb.address,
	    rb.price,
	    rb.inserted,
	    rb.updated,
	    rb.memberId,
        rr.userId,
       count(rr.id) replyCount,
       rb.boardCount
 FROM   
	    ResellBoard  rb
        		LEFT JOIN
       rReply rr On rb.id = rr.boardId
      			LEFT JOIN  
			User u On u.id=rr.userId
	WHERE
		(rb.id >0 )
 <!-- 검색 조건이 null이 아니라면 검색조건에 따른 데이터 조회--> 
	<if test="searchType != null">
		<if test="searchType == 'all'.toString()">
			AND ( title  LIKE CONCAT('%', #{keyword}, '%') OR
			rb.nickName LIKE CONCAT('%', #{keyword}, '%'))
		</if>
		<if test="searchType == 't'.toString()">
			AND title LIKE CONCAT('%', #{keyword}, '%')
		</if>
		<if test="searchType == 'w'.toString()">
			AND rb.nickName LIKE CONCAT('%', #{keyword}, '%')
		</if>
	</if>	       
GROUP BY rb.id
ORDER BY rb.id DESC
LIMIT #{from}, #{items}
	</select>
	
	
	<!--getList 모든 게시물 조회 -->
	<select id="getList" resultType="com.pj.domain.resell.ResellBoardVO">
	SELECT 
	    id,
	    title,
	    content,
	    nickName,
	    memberId,
	    address,
	    price,
	    inserted,
	    updated,
	    boardCount
	FROM
	    ResellBoard  
	ORDER BY id DESC
	</select>

	<!--id(pk)로 하나의 게시물 조회-->
	<select id="select" resultType="com.pj.domain.resell.ResellBoardVO">
	SELECT 
	    id,
	    title,
	    content,
	    nickName,
	    memberId,
	    address,
	    price,
	    inserted,
	    updated,
	    boardCount
	FROM
	    ResellBoard 
	WHERE 
		id = #{id}  
	</select>
	
	<!--insert  &get generated key-->
	<insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
	INSERT INTO
		ResellBoard (title, content,nickName,memberId,address ,price)
	VALUES
		(#{title}, #{content}, #{nickName}, #{memberId},#{address},#{price})	
	</insert>
	
	<!--update 하나의 게시물 수정  -->
	<update id="update">
	UPDATE
		ResellBoard
	SET
		title = #{title},
		content = #{content},
		nickName = #{nickName},
		address = #{address},
		price = #{price},
		updated = NOW()
	WHERE
		id = #{id}
	</update> 
	
	<!--delete 하나의 게시물 수정삭제  -->
	<delete id="delete">
	DELETE FROM ResellBoard WHERE id = #{id}
	</delete>


</mapper>
