<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pj.mapper.resell.ResellBoardMapper">

	
	<delete id = "deleteByUserId">
		DELETE FROM ResellBaord WHERE writer = #{userId}
	</delete>

	<select id="getCountRows" resultType="int">
	SELECT COUNT(*) FROM ResellBoard
	 	<!-- 검색 조건이 null이 아니라면 검색조건에 따른 데이터 조회-->
	<if test="searchType != null">
		<if test="searchType == 'all'.toString()">
			AND title LIKE CONCAT('%', #{keyword}, '%')
		</if>
		<if test="searchType == 't'.toString()">
			AND title LIKE CONCAT('%', #{keyword}, '%')
		</if>
		<if test="searchType == 'w'.toString()">
			AND writer LIKE CONCAT('%', #{keyword}, '%')
		</if>
	</if>
	</select>

	
	<select id="getListPage" resultType="com.pj.domain.resell.ResellBoardVO">
SELECT 
	    rb.id,
	    rb.title,
	    rb.content,
	    rb.writer,
	    rb.price,
	    rb.inserted,
	    rb.updated,
        rr.userId,
       count(rr.id) replyCount 
 FROM   
	    ResellBoard  rb
        		LEFT JOIN
       rReply rr On rb.id = rr.boardId
      			LEFT JOIN  
			User u On u.id=rr.userId 
 <!-- 검색 조건이 null이 아니라면 검색조건에 따른 데이터 조회-->      
	<if test="searchType != null">
		<if test="searchType == 'all'.toString()">
			AND title LIKE CONCAT('%', #{keyword}, '%')
		</if>
		<if test="searchType == 't'.toString()">
			AND title LIKE CONCAT('%', #{keyword}, '%')
		</if>
		<if test="searchType == 'w'.toString()">
			AND writer LIKE CONCAT('%', #{keyword}, '%')
		</if>
	</if>	       
GROUP BY rb.id
ORDER BY rb.id DESC
LIMIT #{from}, #{items}
	</select>
	
	
	<!--getList 모든 게시물 조회 -->
	<select id="getList" resultType="com.pj.domain.resell.ResellBoardVO">
	SELECT 
	    id,
	    title,
	    content,
	    writer,
	    price,
	    inserted,
	    updated
	FROM
	    ResellBoard  
	ORDER BY id DESC
	</select>

	<!--id(pk)로 하나의 게시물 조회-->
	<select id="select" resultType="com.pj.domain.resell.ResellBoardVO">
	SELECT 
	    id,
	    title,
	    content,
	    writer,
	    price,
	    inserted,
	    updated
	FROM
	    ResellBoard 
	WHERE 
		id = #{id}  
	</select>
	
	<!--insert  &get generated key-->
	<insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
	INSERT INTO
		ResellBoard (title, content,writer,memberId, price)
	VALUES
		(#{title}, #{content}, #{writer}, #{memberId},#{price})	
	</insert>
	
	<!--update 하나의 게시물 수정  -->
	<update id="update">
	UPDATE
		ResellBoard
	SET
		title = #{title},
		content = #{content},
		writer = #{writer},
		price = #{price},
		updated = NOW()
	WHERE
		id = #{id}
	</update> 
	
	<!--delete 하나의 게시물 수정삭제  -->
	<delete id="delete">
	DELETE FROM ResellBoard WHERE id = #{id}
	</delete>


</mapper>
