<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pj.mapper.resell.ResellBoardMapper">
	
	<select  id="getBoardTotalCnt" resultType="Integer">
		SELECT COUNT(id) FROM Resell
	</select>
	
	
	
	<select id="selectImageKeyByBoardId" resultType="String">
	SELECT imageKey FROM Resell WHERE id = #{id};
	</select>

	<update id="boardPlusCnt">
	UPDATE Resell SET boardCount = (boardCount + 1) WHERE id = #{id}
	</update>
	
<!-- 	<delete id = "deleteByUserId">
		DELETE FROM Resell WHERE nickName = #{userId}
	</delete> -->

	<select  id="getCount" resultType="int"> 
	SELECT COUNT(b.id) FROM Resell b JOIN User u ON b.memberId = u.id
 	<if test="searchType != null">
		<if test="searchType == 'all'.toString()">
			WHERE ( b.title  LIKE CONCAT('%', #{keyword}, '%') OR
			u.nickName LIKE CONCAT('%', #{keyword}, '%'))
		</if>
		<if test="searchType == 'title'.toString()">
			WHERE b.title LIKE CONCAT('%', #{keyword}, '%')
		</if>
		<if test="searchType == 'writer'.toString()">
			WHERE u.nickName LIKE CONCAT('%', #{keyword}, '%')
		</if>
	</if> 
	
	</select>
	
	

	<select id="getCountRows" resultType="int">
	SELECT COUNT(id) FROM Resell b JOIN User u ON b.memberId = u.id
	 	<!-- 검색 조건이 null이 아니라면 검색조건에 따른 데이터 조회-->
 	<if test="searchType != null">
		<if test="searchType == 'all'.toString()">
			WHERE ( b.title  = CONCAT('%', #{keyword}, '%') OR
			u.nickName LIKE CONCAT('%', #{keyword}, '%'))
		</if>
		<if test="searchType == 'title'.toString()">
			WHERE b.title LIKE CONCAT('%', #{keyword}, '%')
		</if>
		<if test="searchType == 'writer'.toString()">
			WHERE u.nickName LIKE CONCAT('%', #{keyword}, '%')
		</if>
	</if> 
	
	
	</select>

	
	<select id="getListPage" resultType="com.pj.domain.resell.ResellBoardVO">
SELECT 
	    b.id,
	    b.title,
	    b.content,
	    u.nickName,
	    b.memberId,
	    b.address,
	    b.price,
	    b.inserted,
	    b.updated,
        count(r.id) AS replyCount,
        b.boardCount
 FROM   
	    Resell  b
LEFT JOIN
       ResellReply r 
On b.id = r.boardId
JOIN  
	   User u 
On u.id = b.memberId
WHERE
	(b.id >0)
 <!-- 검색 조건이 null이 아니라면 검색조건에 따른 데이터 조회--> 
	<if test="searchType != null">
		<if test="searchType == 'all'.toString()">
			AND ( b.title  LIKE CONCAT('%', #{keyword}, '%') OR
			u.nickName LIKE CONCAT('%', #{keyword}, '%'))
		</if>
		<if test="searchType == 'title'.toString()">
			AND b.title LIKE CONCAT('%', #{keyword}, '%')
		</if>
		<if test="searchType == 'writer'.toString()">
			AND u.nickName LIKE CONCAT('%', #{keyword}, '%')
		</if>
	</if>	       
GROUP BY b.id
ORDER BY b.id DESC
LIMIT #{from}, #{items}
	</select>
	
	
	<!--getList 모든 게시물 조회 -->
	<select id="getList" resultType="com.pj.domain.resell.ResellBoardVO">
	SELECT 
	    b.id,
	    b.title,
	    b.content,
	    u.nickName,
	    b.memberId,
	    b.address,
	    b.price,
	    b.inserted,
	    b.updated,
	    b.boardCount
	FROM
	    Resell b  
	JOIN 
		User u
	ON b.memberId = u.id
	ORDER BY id DESC
	</select>

	<!--id(pk)로 하나의 게시물 조회-->
	<select id="select" resultType="com.pj.domain.resell.ResellBoardVO">
	SELECT 
	    b.id,
	    b.title,
	    b.content,
	    u.nickName,
	    b.memberId,
	    b.address,
	    b.price,
	    b.inserted,
	    b.updated,
	    b.boardCount,
	    b.imageKey,
	    u.address,
	    COUNT(r.id) replyCount
	FROM
	    Resell b
	LEFT JOIN
	  	ResellReply r 
	On b.id = r.boardId  
	JOIN
		User u
	ON b.memberId = u.id
	WHERE 
		b.id = #{id}  
	</select>
	
	<!--insert  &get generated key-->
	<insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
	INSERT INTO
		Resell(title, content,memberId,address ,price, imageKey)
	VALUES
		(#{title}, #{content}, #{memberId},#{address},#{price}, #{imageKey})	
	</insert>
	
	<!--update 하나의 게시물 수정  -->
	<update id="update">
	UPDATE
		Resell
	SET
		title = #{title},
		content = #{content},
		address = #{address},
		price = #{price},
		updated = NOW(),
		imageKey = CONCAT(imageKey, ',' , ifnull(#{imageKey },'') )
	WHERE
		id = #{id}
	</update> 
	
	<!--delete 하나의 게시물 수정삭제  -->
	<delete id="delete">
	DELETE FROM Resell WHERE id = #{id}
	</delete>


</mapper>
