@font-face {
    font-family: 'Vitro_core';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Vitro_core.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KyoboHand';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ONE-Mobile-POP';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*----------------------------------------------------*/

.header_container{
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 10px 0 rgb(0 0 0/30%);
    z-index: 9;
    background-color: #35858B;
    /* opacity: 1; */
    /* background-color: aqua; */
}

.header_container a{
	color:black;
}

.header_container a:hover{
	text-decoration: none;
	color:black;
}

.header_box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 15px;
}

.header_menu_btn{
    padding: 0 20px;
    font-size: 25px;
    cursor: pointer;
}

.header_home_link{
    padding: 0 10px;
}

.header_box>a>span{
    font-size: 40px;
    font-weight: 600;
}

/*---------------------------------------------------*/


/*
div {
    border: solid 1px #FFBCBC;
}
*/


.food_get_body_container {
    padding: 150px 0;   /* 빼기 */
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #fff2dc;
}
.food_get_body_main_wrapper {
    width: 80%;
    height: 100%;
    min-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.food_get_body_wrapper {
    width: 100%;
    height: 100%;
    min-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    /* border: solid 3px rgb(243, 193, 198); */
    border-radius: 20px 20px 20px 20px;
}

.food_get_body_top_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    padding-bottom: 20px;
    border-radius: 10px 10px 20px 20px;
}
.food_get_body_top_info>
.food_get_body_top_info_title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFADAD;
    height: 40px;
    padding-left: 20px;
    border-radius: 10px 10px 0px 0px;
    font-family: ONE-Mobile-POP;
    font-size: large;
}

.food_get_body_main_wrapper>
.food_get_body_top_info>
.food_get_body_sub_top_info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 20px;
    height: 60px;
    border-radius: 0px 0px 10px 10px;
    background-color: rgb(255, 255, 255);;
}
.food_get_body_top_info_content_mainicon_iconimage,
.food_get_main_bottom_iconimage {
	border: none;
}


.food_get_body_top_info_content{
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-family: KyoboHand;
}

.food_get_body_main_box:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    background-color: #FFADAD;
    /* border: solid 1px rgb(206, 205, 204); */
    align-items: center;
    border-radius: 20px 20px 0px 0px;
}
.food_get_body_main_box:first-child>
.food_get_main_box_title>
.food_get_body_foodBoardTitle {
   font-family: ONE-Mobile-POP;
   font-size: large;
   padding-left: 20px
}
.food_get_body_main_box:first-child>
.food_get_body_main_box_backList {
    font-family: ONE-Mobile-POP;
    font-size: large;
    padding-right: 20px;
}

.food_get_body_main_box:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.food_get_body_main_box:nth-child(2)>
.food_get_body_main_discriptionBox:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 90px;
    /* border: solid 1px rgb(206, 205, 204); */
    border-top: 5px solid #F9D5A7;
}
.food_get_body_main_box:nth-child(2)>
.food_get_body_main_discriptionBox:first-child>
.food_get_body_sub_discriptionBox {
    padding-left: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    
}
.food_get_body_main_box:nth-child(2)>
.food_get_body_main_discriptionBox:nth-child(2)>
.food_get_body_sub_discriptionBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.food_get_body_main_box:nth-child(2)>.food_get_body_main_discriptionBox:first-child>
.food_get_body_sub_discriptionBox>
.food_get_body_sub_sub_discriptionBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.food_get_body_main_box:nth-child(2)>
.food_get_body_main_discriptionBox:first-child>
.food_get_body_sub_discriptionBox>
.food_get_body_sub_sub_discriptionBox>
.food_get_body_main_box_bWriter,
.food_get_body_main_box_bDate,
.food_get_body_main_box_bCnt_bComentCnt {
    padding-right: 20px;
    font-size: small;
    font-family: KyoboHand;
}

.food_get_body_main_box:nth-child(2)>.food_get_body_main_discriptionBox:first-child>
.food_get_body_sub_discriptionBox>
.food_get_body_main_box_bTitle {
    padding-right: 10px;
    font-family: KyoboHand;
}
.food_get_body_main_box:nth-child(2)>
.food_get_body_main_discriptionBox:first-child>
.food_get_body_sub_discriptionBox>
.food_get_body_main_box_bWriter {
    width: 15%;
    min-width: 15%;
    max-width: 80px;
    font-family: KyoboHand;
}

.food_get_body_main_box:nth-child(2)>
.food_get_body_main_discriptionBox:first-child>
.food_get_body_sub_discriptionBox>{
    margin-right: auto;
}


.food_get_body_main_box:nth-child(2)>
.food_get_body_main_discriptionBox:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20%;
    height: 100%;
    text-align: center;
}
.food_get_body_main_box:nth-child(2)>
.food_get_body_main_discriptionBox:nth-child(2)>
div {
    width: 50%;
    height: 100%;
}


.food_get_body_main_box:nth-child(3) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    /* border: solid 1px rgb(206, 205, 204); */
    border-top:1px solid #F9D5A7;
}
.food_get_body_main_box:nth-child(3)>
.food_get_body_main_box_content_text {
    display: flex;
    width: 100%;
    min-height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* 주소 (4) */
.food_get_body_main_box:nth-child(4) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    height: 100px;
    border: black;
}
.food_get_body_main_box:nth-child(4)>
.food_get_body_main_box_address_text_part {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 50%;
    border-top: 1px solid #F9D5A7;
    border-bottom: 1px solid #F9D5A7;
    padding-left: 20px;
    padding-top: 20px;
    font-family: KyoboHand;
}
.food_get_body_main_box_address_content_text{
    padding-left: 10px;
}
.food_get_body_main_box:nth-child(4)>
.food_get_body_main_box_address_image_part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50%;
}
.food_get_body_main_box_address_image{
    padding-left: 20px;
    padding-top: 5px;
}

.food_get_body_main_box:nth-child(5) {
    display: flex;
    flex-direction: row;
    justify-content: end;
    height: 50px;
    align-items: center;
    /* border: solid 1px rgb(206, 205, 204); */
    border-top:1px solid #F9D5A7;
}
.food_get_body_main_box:nth-child(5)>
.food_get_body_main_box_bottomList {
    display: flex;
    width: 110px;
    font-family: ONE-Mobile-POP;
    font-size: large;
}
.food_get_body_main_box:nth-child(5)>
.food_get_body_main_box_bottomList>
.food_foodlist_sub_button {
    font-family: ONE-Mobile-POP;
    font-size: large;
    background-color: #FFADAD;
    font-family: KyoboHand;
    /* border-radius: 5px 5px 5px 5px; */
}

.food_get_body_main_box:nth-child(6) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    /* border: solid 1px rgb(206, 205, 204); */
    border-top:1px solid #F9D5A7;
    border-bottom: 1px solid #F9D5A7;
}
.food_get_body_main_box:nth-child(6)>
.food_get_body_main_box_comment {
    display: flex;
    margin-right: auto;
    width: 100px;
    align-items: center;
    padding-left: 20px;
    font-family: KyoboHand;
}

.food_get_body_main_box:nth-child(7) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.food_get_body_main_box:nth-child(7)>
.food_get_body_comment_title_frame {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    /* border: solid 1px rgb(206, 205, 204); */
    border-top:1px solid #F9D5A7;
}
.food_get_body_main_box:nth-child(7)>
.food_get_body_comment_title_frame>
.food_get_body_comment_write {
    padding-left: 20px;
    font-family: KyoboHand;
}
.food_get_body_main_box:nth-child(7)>
.food_get_body_comment_textarea_frame {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    /* border: solid 1px rgb(206, 205, 204); */
    border-top:1px solid #F9D5A7;
}
.food_get_body_main_box:nth-child(7)>
.food_get_body_comment_textarea_frame>
.food_get_body_comment_textarea {
    display: flex;
    justify-content: space-between;
    height: 50px;
    min-height: 50px;
    min-width: 99%;
}
.food_get_body_main_box:nth-child(7)>
.food_get_body_comment_button_frame {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 50px;
    align-items: center;
    /* border-top:1px solid #F9D5A7; */
}
.food_get_body_main_box:nth-child(7)>
.food_get_body_comment_button_frame>
.food_get_body_comment_button_sub_frame {
    padding-right: 20px;
}
.food_get_body_main_box:nth-child(7)>
.food_get_body_comment_button_frame>
.food_get_body_comment_button_sub_frame>
.food_comment_sub_button {
    font-family: ONE-Mobile-POP;
    font-size: large;
    background-color: #FFADAD;
    border-radius: 5px 5px 5px 5px;
}

.food_get_body_main_box:nth-child(8) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* border: solid 1px rgb(206, 205, 204); */
    border-top:1px solid #F9D5A7;
    border-bottom:5px solid #F9D5A7;
}

.food_get_body_main_box:nth-child(8)>
.food_get_body_main_discriptionBox{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}
.food_get_body_main_box:nth-child(8)>
.food_get_body_main_discriptionBox>
.food_get_body_main_box_comment_writer, 
.food_get_body_main_box_comment_txt,
.food_get_body_main_box_comment_date {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    font-family: KyoboHand;
}
.food_get_body_main_box:nth-child(8)>
.food_get_body_main_discriptionBox>
.food_get_body_main_box_comment_date {
    display: flex;
    height: 100%;
    font-family: KyoboHand;
    font-size: small;
}

.food_get_body_main_box_comment_txt_media {
	display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
}
.food_get_body_main_box_comment_txt_media-body {
	display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
}
.food_reply_body {
	padding-left: 20px;
	padding-top: 10px;
}
.food_reply_mt {
	display: flex;
    flex-direction: row;
    justify-content: unset;
    padding-left: 20px;
    padding-top: 10px;
}
.food_reply_input_group {
	position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.input_group_append_button {
	display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    padding-top: 10px;
}
.food_reple_input_modify_group {
	display: flex;
    flex-direction: row;
    justify-content: end;
    padding-right: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #F9D5A7;
}

.food_get_body_main_bottom_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80px;
    border-radius: 0px 0px 20px 20px;
    background-color: #FFADAD;
}
.recoment_modify_button, .recoment_remove_button {
	background-color: #FFADAD;
}


.food_get_body_main_bottom_box>
.food_get_main_bottom_box_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-right: 10px;
    font-family: ONE-Mobile-POP;
    font-size: large;
}
.food_get_body_main_bottom_box>
.food_get_main_bottom_mainicon {
    display: flex;
    padding-top: 5px;
}


.food_get_main_bottom_iconimage {
    display: flex;
    width: 70px;
    height: 70px;
}

