<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pj.mapper.user.UserMapper">
	<select id="getUserInfo" resultType="string">
		SELECT 
			title
		FROM 
			checkDB
		WHERE
			id = 1
	</select>
	<select id="getUserList" resultType="com.pj.domain.user.UserVO">
		SELECT
			id,name,email,password,created
		FROM 
			User
	</select>
	<insert id="insert">
		INSERT INTO 
		User(name,nickName,email,password,social)
		VALUES(#{name},#{nickName},#{email},#{password},#{social})
	</insert>
	<select id="getUserEmail" resultType="com.pj.domain.user.UserVO">
		SELECT 
			* 
		FROM 
			User
		WHERE
			email = #{email}
	</select>
	<select id="checkEmail" resultType="com.pj.domain.user.UserVO">
		SELECT 
			email
		FROM
			User
		WHERE
			email = #{email}
	</select>
	<!-- <select id="getFoodListByUserId" resultType="com.pj.domain.food.FoodVO">
		SELECT 
			
	</select> -->
	<select id="getFoodList" resultType="com.pj.domain.food.FoodVO">
		SELECT 
			id,title,writer,inserted
		FROM 
			Food
	</select> 
	<select id="getResellList" resultType="com.pj.domain.resell.ResellBoardVO">
		SELECT
			id,title,writer,price,updated
		FROM
		 	ResellBoard
	</select>
	<select id="getCMList" resultType="com.pj.domain.community.CommunityFreeBoardVO">
		SELECT 
			id,title,writer,inserted
		FROM
			CommunityFreeBoard
	</select>
	<select id="getFoodListByUserId">
		SELECT
			
	</select>
	<select id="getResllListByUserId">
	
	</select>
	<select id="getCMListByUserId">
	
	</select>
	<update id="update">
		UPDATE 
			User
		SET
			name=#{name},
			email=#{email},
			password=#{password},
			updated = NOW()
		WHERE
			id = #{id}
	</update>
	<delete id="deleteUserEmail">
		DELETE
		FROM
			User
		WHERE
			email = #{emailInfo}
	</delete>
</mapper>